The dataset contains information about customers of a telecommunications
company and whether they have churned (i.e., discontinued their services). The dataset
includes various attributes of the customers, such as their demographics, usage patterns, and
account information. The goal is to perform data cleaning and preparation to gain insights
into the factors that contribute to customer churn.
Tasks to Perform:
1. Import the "Telecom_Customer_Churn.csv" dataset.
2. Explore the dataset to understand its structure and content.
3. Handle missing values in the dataset, deciding on an appropriate strategy.
4. Remove any duplicate records from the dataset.
5. Check for inconsistent data, such as inconsistent formatting or spelling variations,
and standardize it.
6. Convert columns to the correct data types as needed.
7. Identify and handle outliers in the data.
8. Perform feature engineering, creating new features that may be relevant to
predicting customer churn.
9. Normalize or scale the data if necessary.
10. Split the dataset into training and testing sets for further analysis.
11. Export the cleaned dataset for future analysis or modeling.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

df = pd.read_csv("telecom_customer_churn.csv")
df

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.60,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.00,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.90,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.00,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.90,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,20,No,0,La Mesa,91941,32.759327,-116.997260,0,...,Credit Card,55.15,742.90,0.00,0,606.84,1349.74,Stayed,NaN,NaN
7039,9992-RRAMN,Male,40,Yes,0,Riverbank,95367,37.734971,-120.954271,1,...,Bank Withdrawal,85.10,1873.70,0.00,0,356.40,2230.10,Churned,Dissatisfaction,Product dissatisfaction
7040,9992-UJOEL,Male,22,No,0,Elk,95432,39.108252,-123.645121,0,...,Credit Card,50.30,92.75,0.00,0,37.24,129.99,Joined,NaN,NaN
7041,9993-LHIEB,Male,21,Yes,0,Solana Beach,92075,33.001813,-117.263628,5,...,Credit Card,67.85,4627.65,0.00,0,142.04,4769.69,Stayed,NaN,NaN
7042,9995-HOTOH,Male,36,Yes,0,Sierra City,96125,39.600599,-120.636358,1,...,Bank Withdrawal,59.00,3707.60,0.00,0,0.00,3707.60,Stayed,NaN,NaN

In [2]:
print(df.head())  # View the first few rows
print(df.info())  # Get information about the dataset
print(df.describe())  # Descriptive statistics

  Customer ID  Gender  Age Married  Number of Dependents          City  \
0  0002-ORFBO  Female   37     Yes                     0  Frazier Park
1  0003-MKNFE    Male   46      No                     0      Glendale
2  0004-TLHLJ    Male   50      No                     0    Costa Mesa
3  0011-IGKFF    Male   78     Yes                     0      Martinez
4  0013-EXCHZ  Female   75     Yes                     0     Camarillo

   Zip Code   Latitude   Longitude  Number of Referrals  ...   Payment Method  \
0     93225  34.827662 -118.999073                    2  ...      Credit Card
1     91206  34.162515 -118.203869                    0  ...      Credit Card
2     92627  33.645672 -117.922613                    0  ...  Bank Withdrawal
3     94553  38.014457 -122.115432                    1  ...  Bank Withdrawal
4     93010  34.227846 -119.079903                    3  ...      Credit Card

  Monthly Charge Total Charges  Total Refunds Total Extra Data Charges  \
0           65.6        593.30           0.00                        0
1           -4.0        542.40          38.33                       10
2           73.9        280.85           0.00                        0
3           98.0       1237.85           0.00                        0
4           83.9        267.40           0.00                        0

  Total Long Distance Charges Total Revenue  Customer Status   Churn Category  \
0                      381.51        974.81           Stayed              NaN
1                       96.21        610.28           Stayed              NaN
2                      134.60        415.45          Churned       Competitor
3                      361.66       1599.51          Churned  Dissatisfaction
4                       22.14        289.54          Churned  Dissatisfaction

                    Churn Reason
0                            NaN
1                            NaN
2  Competitor had better devices
3        Product dissatisfaction
4            Network reliability

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              3166 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB
None
               Age  Number of Dependents      Zip Code     Latitude  \
count  7043.000000           7043.000000   7043.000000  7043.000000
mean     46.509726              0.468692  93486.070567    36.197455
std      16.750352              0.962802   1856.767505     2.468929
min      19.000000              0.000000  90001.000000    32.555828
25%      32.000000              0.000000  92101.000000    33.990646
50%      46.000000              0.000000  93518.000000    36.205465
75%      60.000000              0.000000  95329.000000    38.161321
max      80.000000              9.000000  96150.000000    41.962127

         Longitude  Number of Referrals  Tenure in Months  \
count  7043.000000          7043.000000       7043.000000
mean   -119.756684             1.951867         32.386767
std       2.154425             3.001199         24.542061
min    -124.301372             0.000000          1.000000
25%    -121.788090             0.000000          9.000000
50%    -119.595293             0.000000         29.000000
75%    -117.969795             3.000000         55.000000
max    -114.192901            11.000000         72.000000

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                        6361.000000              5517.000000
mean                           25.420517                26.189958
std                            14.200374                19.586585
min                             1.010000                 2.000000
25%                            13.050000                13.000000
50%                            25.690000                21.000000
75%                            37.680000                30.000000
max                            49.990000                85.000000

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count     7043.000000    7043.000000    7043.000000               7043.000000
mean        63.596131    2280.381264       1.962182                  6.860713
std         31.204743    2266.220462       7.902614                 25.104978
min        -10.000000      18.800000       0.000000                  0.000000
25%         30.400000     400.150000       0.000000                  0.000000
50%         70.050000    1394.550000       0.000000                  0.000000
75%         89.750000    3786.600000       0.000000                  0.000000
max        118.750000    8684.800000      49.790000                150.000000

       Total Long Distance Charges  Total Revenue
count                  7043.000000    7043.000000
mean                    749.099262    3034.379056
std                     846.660055    2865.204542
min                       0.000000      21.360000
25%                      70.545000     605.610000
50%                     401.440000    2108.640000
75%                    1191.100000    4801.145000
max                    3564.720000   11979.340000

In [3]:
df.fillna(0, inplace=True)  # handling missing values

In [ ]:
df.drop_duplicates(inplace=True) #removing duplicates

In [ ]:
df['Gender'] = df['Gender'].str.lower()  # Example: Standardize gender to lowercase

In [ ]:
df['TotalCharges'] = pd.to_numeric(df['Total Charges'], errors='coerce')  # Convert TotalCharges to numeric

In [ ]:
# remove outliers from the TotalCharges column:
z_scores = (df['TotalCharges'] - df['Total Charges'].mean()) / df['Total Charges'].std()
df = df[(z_scores.abs() < 3)]

In [ ]:
df['TenureinMonths'] = df['Tenure in Months'] * 30  # create new features - Convert tenure to months
df

In [ ]:
scaler = StandardScaler()   #normalize the data
df[['MonthlyCharge', 'TotalCharges', 'TenureinMonths']] = scaler.fit_transform(df[['Monthly Charge', 'Total Charges', 'Tenure in Months']])

In [ ]:
X = df.drop('Churn Category', axis=1)      #split data into training and testing
y = df['Churn Category']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
df.to_csv("Cleaned_Telecom_Customer_Churn.csv")    #export dataframe to csv

In [4]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Load the dataset
df = pd.read_csv("telecom_customer_churn.csv")

# View the first few rows and get dataset info
print("First 5 Rows of Data:\n", df.head())
print("\nDataset Information:\n", df.info())
print("\nDescriptive Statistics:\n", df.describe())

# Handle missing values by filling NaNs with 0
df.fillna(0, inplace=True)

# Remove duplicate rows
df.drop_duplicates(inplace=True)

# Standardize 'Gender' column to lowercase
df['Gender'] = df['Gender'].str.lower()

# Convert 'Total Charges' to numeric, with invalid parsing set as NaN (then filled with 0 above)
df['TotalCharges'] = pd.to_numeric(df['Total Charges'], errors='coerce')

# Remove outliers from 'TotalCharges' using Z-score method
z_scores = (df['TotalCharges'] - df['TotalCharges'].mean()) / df['TotalCharges'].std()
df = df[(z_scores.abs() < 3)]

# Create a new feature: convert 'Tenure in Months' to days for more granularity
df['TenureinDays'] = df['Tenure in Months'] * 30

# Initialize the StandardScaler to normalize data
scaler = StandardScaler()

# Apply scaling to selected columns
df[['MonthlyCharge', 'TotalCharges', 'TenureinDays']] = scaler.fit_transform(df[['Monthly Charge', 'TotalCharges', 'TenureinDays']])

# Split data into features (X) and target (y)
X = df.drop('Churn Category', axis=1)
y = df['Churn Category']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Export the cleaned and processed dataset to a new CSV file
df.to_csv("Cleaned_Telecom_Customer_Churn.csv", index=False)
print("\nCleaned dataset saved as 'Cleaned_Telecom_Customer_Churn.csv'")

First 5 Rows of Data:
   Customer ID  Gender  Age Married  Number of Dependents          City  \
0  0002-ORFBO  Female   37     Yes                     0  Frazier Park
1  0003-MKNFE    Male   46      No                     0      Glendale
2  0004-TLHLJ    Male   50      No                     0    Costa Mesa
3  0011-IGKFF    Male   78     Yes                     0      Martinez
4  0013-EXCHZ  Female   75     Yes                     0     Camarillo

   Zip Code   Latitude   Longitude  Number of Referrals  ...   Payment Method  \
0     93225  34.827662 -118.999073                    2  ...      Credit Card
1     91206  34.162515 -118.203869                    0  ...      Credit Card
2     92627  33.645672 -117.922613                    0  ...  Bank Withdrawal
3     94553  38.014457 -122.115432                    1  ...  Bank Withdrawal
4     93010  34.227846 -119.079903                    3  ...      Credit Card

  Monthly Charge Total Charges  Total Refunds Total Extra Data Charges  \
0           65.6        593.30           0.00                        0
1           -4.0        542.40          38.33                       10
2           73.9        280.85           0.00                        0
3           98.0       1237.85           0.00                        0
4           83.9        267.40           0.00                        0

  Total Long Distance Charges Total Revenue  Customer Status   Churn Category  \
0                      381.51        974.81           Stayed              NaN
1                       96.21        610.28           Stayed              NaN
2                      134.60        415.45          Churned       Competitor
3                      361.66       1599.51          Churned  Dissatisfaction
4                       22.14        289.54          Churned  Dissatisfaction

                    Churn Reason
0                            NaN
1                            NaN
2  Competitor had better devices
3        Product dissatisfaction
4            Network reliability

[5 rows x 38 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              3166 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

Dataset Information:
 None

Descriptive Statistics:
                Age  Number of Dependents      Zip Code     Latitude  \
count  7043.000000           7043.000000   7043.000000  7043.000000
mean     46.509726              0.468692  93486.070567    36.197455
std      16.750352              0.962802   1856.767505     2.468929
min      19.000000              0.000000  90001.000000    32.555828
25%      32.000000              0.000000  92101.000000    33.990646
50%      46.000000              0.000000  93518.000000    36.205465
75%      60.000000              0.000000  95329.000000    38.161321
max      80.000000              9.000000  96150.000000    41.962127

         Longitude  Number of Referrals  Tenure in Months  \
count  7043.000000          7043.000000       7043.000000
mean   -119.756684             1.951867         32.386767
std       2.154425             3.001199         24.542061
min    -124.301372             0.000000          1.000000
25%    -121.788090             0.000000          9.000000
50%    -119.595293             0.000000         29.000000
75%    -117.969795             3.000000         55.000000
max    -114.192901            11.000000         72.000000

       Avg Monthly Long Distance Charges  Avg Monthly GB Download  \
count                        6361.000000              5517.000000
mean                           25.420517                26.189958
std                            14.200374                19.586585
min                             1.010000                 2.000000
25%                            13.050000                13.000000
50%                            25.690000                21.000000
75%                            37.680000                30.000000
max                            49.990000                85.000000

       Monthly Charge  Total Charges  Total Refunds  Total Extra Data Charges  \
count     7043.000000    7043.000000    7043.000000               7043.000000
mean        63.596131    2280.381264       1.962182                  6.860713
std         31.204743    2266.220462       7.902614                 25.104978
min        -10.000000      18.800000       0.000000                  0.000000
25%         30.400000     400.150000       0.000000                  0.000000
50%         70.050000    1394.550000       0.000000                  0.000000
75%         89.750000    3786.600000       0.000000                  0.000000
max        118.750000    8684.800000      49.790000                150.000000

       Total Long Distance Charges  Total Revenue
count                  7043.000000    7043.000000
mean                    749.099262    3034.379056
std                     846.660055    2865.204542
min                       0.000000      21.360000
25%                      70.545000     605.610000
50%                     401.440000    2108.640000
75%                    1191.100000    4801.145000
max                    3564.720000   11979.340000

Cleaned dataset saved as 'Cleaned_Telecom_Customer_Churn.csv'